.main {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1em;
  width: 100%;
  max-width: 900px;
  gap: 1.25em;
  transition: background-color 150ms ease-in;
  margin: 1em 0;
  border: 1px solid black;
}

.placement {
  font-size: 3rem;
  margin-right: 0.25em;
}

.image {
  display: flex;
  min-width: 100px;
}

.albumInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.albumTitle,
.artist {
  text-align: end;
  max-width: 9rem;
}

.year {
  opacity: 0.5;
}
