.main {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  min-width: 100%; /* 
  transition: background-color 150ms ease-in; */
  margin: 0;
  border: 1px solid black;
}

.main:hover {
  cursor: pointer;
  /*   background-color: #000000; */
}

.placement {
  font-size: 3rem;
  margin-right: 0.25em;
}

.image {
  display: flex;
  min-width: 100px;
}

.albumInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.year {
  opacity: 0.5;
}
